.navbar {
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
}

#project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    gap: 20px;
    width: 80%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}